html {
    height: 100%;
    width: 100%;
}

body { 
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font: 13px Helvetica, Arial;
    display: flex;
}
#canvas_container {
    height: 100%;
    width: 75%;
}

#chat_container {
    height: 100%;
    width: 25%;
    display: flex;
}

#button_container {
    margin-bottom: 25;
    padding: 10;
}

#canvas {
    background-color: cadetblue;
    width: 80%;
}

#chatbox {
    background-color: antiquewhite;
    width: 100%;
}


form { 
    background: #111111;
    bottom: 0;
    display: flex;
}
form input {
    width: 90%;
    border: 0;
}
form button { 
    background: rgb(130, 224, 255);
    width: 10%;
    right: 0;
}
#messages {
    margin: auto;
    text-align: right;
    list-style: none;
}
#messages-div {
    background-color: #cccccc;
}

#messages li:nth-child(odd) {
    background: #eee;
}
.spectrum-wrapper {
  margin-top: 10;
  padding-top: 50;
  cursor: crosshair;
  width: 360px;
  position: relative;
  height: 120px;
  user-select: none;
  user-drag: none;
  outline: 3px solid black;
}
.spectrum-layer {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(255 0 0),
    rgb(255 255 0),
    rgb(0 255 0),
    rgb(0 255 255),
    rgb(0 0 255),
    rgb(255 0 255),
    rgb(255 0 0)
  );
}

.saturation-white {
  background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0px;
  right: 0px;
  bottom: 60px;
  left: 0px;
}

.saturation-black {
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  position: absolute;
  width: 100%;
  height: 60px;
  top: 60px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
